doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Hello Express
    h3 Product Edit Page
    p Node.js Programming for Modern Web development
    hr
